<!DOCTYPE html>
<html>
<h2 class="page-header"> Home page </h2>
<div>
<!-- <h3> USERS </h3>
<ul>
    {{#each users}}
  <div>
  <li>
        <tr>
            <td>{{name}}</td>
            <br>
            <td>{{email}}</td>
            <br>
            <td>{{work.title}}</td>
        </tr>
  </li>
  </div>
    {{/each}}
</ul>
 -->
<h1> WORKS </h1>
<ul>
    {{#each users}}
  <div>
  <li>
        <tr>
            <td>{{user}}</td>
            <br>
            <td>{{image}}</td>
            <br>
        </tr>
  </li>
  </div>
    {{/each}}

</div>
</html>