<!DOCTYPE html>
<html>
<h2 class="page-header"> {{{user.name}}} profile </h2> 

<form method="post" enctype="multipart/form-data">
<input type="text" class="form-control" name="title" placeholder="Title">
<br>
<input type="file" name="myimage"></input>
<br>
<input type="text" class="form-control" name="description" placeholder="Description">
<br>
<input type="submit" name="submit" value="Submit"></input>
<br>
<br>
<br>
<br>

<!-- <div>
<ul>
    {{#each works}}
  <div>
  <li>
        <tr>
            <td>{{work}}</td>
        </tr>
  </li>
  </div>
    {{/each}}
</ul>
</div> -->
<!-- <ul class = "works">

{{#each works}}

<td>{{title}}</td>
<td>{{this.name}}</td>
<p> Description: {{description}} </p>
{{/each}}

</ul> -->


</form>
</html>